* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.navbar {
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.icon-apple {
  width: 15px;
  height: 42px;
}

.icon-search {
  width: 15px;
  height: 42px;
}

/* Section IPhone */
.iphone {
  margin-top: 46px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 580px;
}

/* Section iPhone 15 */
#iphone-15-black {
  background-image: url("./assets/images/hero_iphone.jpg");
}

#iphone-15-white {
  background-image: url("./assets/images/hero_iphone_white.jpg");
  margin-top: 20px;
}
#iphone-15-white p,
#iphone-15-white h1 {
  color: black;
}
.iphone-content {
  display: flex;
  color: #fff;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
}

.iphone-content h1 {
  font-size: 52px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 12px;
}

.iphone-content p {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 16px;
}

.cta-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  border: 1px solid var(--primary-color);
  padding: 11px 21px;
  border-radius: 989px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 10px;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: transparent;
  color: var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.btn-white:hover {
  opacity: 0.8;
}

#macbook-air {
  background-image: url("/assets/images/macbook_air.jpg");
  margin-top: 20px;
}

#macbook-air p {
  color: #6e6e73;
  font-size: 21px;
}

#macbook-air h1 {
  color: #000;
}

#macbook-air h5 {
  color: #000;
  font-size: 28px;
  margin-bottom: 18px;
}

/* Grid Section */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 12px;
}

.grid-items-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
}

.grid-items-product img {
  margin-top: 60px;
}

.grid-items-product h5 {
  font-size: 21px;
  margin-bottom: 18px;
}

.watch-nine {
  background-image: url("/assets//images/apple_watch.jpg");
}

.watch-nine h5 {
  color: #fff;
}

.watch-ultra {
  background-image: url("/assets//images/apple_watch_white.jpg");
}

.watch-ultra h5 {
  color: #000;
}

.logo-product {
  margin-bottom: 10px;
  height: 53px;
  width: auto;
}

/* Ipad */
.ipad {
  padding-top: 8px;
  background-image: url("/assets/images/ipad.jpg");
}

.ipad-pro {
  background-image: url("/assets/images/ipad_black.jpg");
}

.ipad-pro h2,
.ipad-pro p {
  color: #fff;
}

.product-item p {
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: normal;
}

.product-item h2 {
  margin-top: 53px;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 4px;
}

/* MacBook */
.macbook {
  background-image: url("/assets/images/macbook_white.jpg");
}
.airpods {
  background-image: url("/assets/images/airpods.jpg");
}

.airpods h2,
.airpods p {
  color: #fff;
}
/* Font Family */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("./assets/helvetica/Helvetica.ttf") format("truetype");
}

/* Carousel Section */
#apple-tv {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

.carousel {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  height: 668px;
  margin-bottom: 12px;
}

.carousel-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  /* visibility: hidden; */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 55px;
  padding-bottom: 50px;
}

.carousel-content p {
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
}

.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.carousel-control span {
  background-color: rgba(0, 0, 0, 0.44);
  height: 8px;
  width: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.carousel-control .active {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-item.active {
  visibility: visible;
  z-index: 22;
  position: relative;
  transform: translateX(0%);
}

.carousel-item.previous {
  visibility: visible;
  z-index: 11;
  cursor: pointer;
  transform: translateX(-100%);
}

.carousel-item.next {
  visibility: visible;
  z-index: 10;
  cursor: pointer;
  transform: translateX(100%);
}

.carousel-item.move-left {
  transform: translateX(-100%);
  visibility: visible;
}

.carousel-item.move-right {
  transform: translateX(100%);
  visibility: visible;
}

.carousel-item.enter-left {
  transform: translateX(0%);
  visibility: visible;
}

.carousel-item.enter-right {
  transform: translateX(0%);
  visibility: visible;
}

/* Footer */
footer {
  background-color: rgb(245, 245, 247);
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.subscribe {
  color: rgba(0, 0, 0, 0.56);
}

.line {
  border-color: rgba(0, 0, 0, 0.16);
  margin: 14px 0px;
}

footer ul {
  list-style: none;
}

.list-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.list-footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.list-footer ul li {
  color: rgba(0, 0, 0, 0.72);
}

.list-footer ul li:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
}

.retailer {
  color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
}

.list-copyright {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.56);
}

/* Root */
:root {
  --primary-color: rgb(0, 113, 227);
}
